/* src/index.css */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-wide text-stone-900;
  }
  
  p {
    @apply leading-relaxed text-stone-600;
  }
  
  /* 讓按鈕變成圓角且顏色柔和 */
  button {
    @apply transition-all duration-300 ease-out;
  }
}
